{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block mycontent %}
    <table class="table table-striped table-hover">
        <h1 class="page-header">{{ title }}</h1>
        <thead>
        <tr>
            <th></th>
            <th>用户名</th>
            <th>用户邮箱</th>
            <th>用户借书册次</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="animated fadeIn delay-{{ loop.index0 }}">
                <td>
                    {% if user.avatar_url() %}
                    <div class="media-object avatar avatar-mini"
                         style="background-image: url({{ user.avatar_url() }})"></div>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('user.detail',user_id=user.id) }}">{{ user.name }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.logs.count() }}</td>
                {%- if current_user.id == user.id or current_user.can(Permission.UPDATE_OTHERS_INFORMATION) -%}
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info" href="{{url_for('user.edit',user_id=user.id) }}">编辑信息</a>
                        <a type="button" class="btn btn-warning" href="{{ url_for('auth.change_password',user_id=user.id) }}">修改密码</a>
                        <a type="button" class="btn btn-danger" href="{{url_for('auth.remove_user',  user_id=user.id)}}">删除用户</a>
                    </div>
                </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination and pagination.pages > 1 %}
        <div class="container-fluid text-center">
            {{ render_pagination(pagination) }}
        </div>
    {% endif %}
{% endblock %}